<!-- <div id='signin'>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='userLogin.username'>
    <input type="password" ng-model='userLogin.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->
<div id = "signin" style='padding: 40px;'> 
<h2>Signin</h2>
<md-content>
<h3>User Information</h3>
 <form name = "signinForm" ng-submit = 'signin()'>

  <!--  <div class = "input-field col s6">
     <label>Username</label>
     <input type = "text" ng-model = 'userLogin.username' class = "validate" required>
   </div>

   <div>
     <label>Password</label>
     <input type = "password" ng-model = 'userLogin.password' class = "validate" required>
   </div> -->

   <md-input-container flex>
      <label>Username</label>
      <input type="text" ng-model = 'userLogin.username' required/>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>

      <input type="password" ng-model = 'userLogin.password' required/>
    </md-input-container>
    <md-input-container flex>
      <div class="space-top text-center">
          <md-button type='submit' ng-disabled="form-register.$invalid" class="md-raised md-primary btn done">
            <i class="material-icons left"></i> Sign in
          </md-button>
        </div>
    </md-input-container>  
    </form>


<md-button class="md-primary md-fab  md-hue-1" style='position: fixed;'>
        <a href="#/signup">Signup</a>
    </md-button>
    </form>
<md-content>
<!-- <div>
  <span></span>>
</div> -->

</div>


<md-button class="md-primary md-fab md-fab-top-right md-hue-2" style='margin-top: 50px;'>
    <a href="#/homepage" style='font-size: 85%; color: white'>Home</a>
  </md-button>

  <md-button class="md-primary md-fab md-fab-top-right md-hue-1" style='margin-top: 50px; margin-right: 80px; float: left;'>
        <a href="#/signup" style='font-size: 85%; color: white'>Signup</a>
    </md-button>

