
<div id = "signup" layout="column" ng-cloak class="md-inline-form" style='padding: 40px;'> 
<h3>Please sign up here...</h3>

<md-content layout-gt-sm="row" layout-padding>
  <form class = "form-register" name = "signupForm" ng-submit = 'signup()'>
    <md-input-container flex>
      <label>Username</label>
      <input type="text" ng-model = 'userform.name' required/>
    </md-input-container>

    <md-input-container flex>
      <label>Email</label>
      <input type="text" ng-model = 'userform.email' required/>
    </md-input-container>

    <md-input-container flex>
      <label>Password</label>
      <input type="password" ng-model = 'userform.password' required/>
    </md-input-container>

    <md-datepicker ng-model="date" md-placeholder="Birthday"></md-datepicker>

    <md-input-container flex>
      <label>Phone Number</label>
      <input type="text" ng-model = 'userform.phoneNumber' required/>
    </md-input-container>
    
  </md-content>

  <md-content layout-gt-sm="row" layout-padding>
    <h3>Address:</h3>

    <md-input-container flex-gt-sm>
      <label>Street number</label>
      <input type="text" ng-model = 'userform.address.number' required/>
    </md-input-container>

    <md-input-container flex-gt-sm>
      <label>Street</label>
      <input type="text" ng-model = 'userform.address.street' required/>
    </md-input-container>

    <md-input-container flex-gt-sm>
      <label>City</label>
      <input type="text" ng-model = 'userform.address.city' required/>
    </md-input-container>
   
   <md-input-container class="md-block" flex>
      <label>State</label>
      <md-select ng-model="userform.address.state">
        <md-option ng-repeat="state in states" value="{{state.abbrev}}" flex="25">
          {{state.abbrev}}  
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex-gt-sm>
      <label>Postal code</label>
      <input type="text" ng-model = 'userform.address.postalcode' required/>
    </md-input-container>

  </md-content>

  <div class="space-top text-center">
    <md-button type='submit' ng-disabled="form-register.$invalid" class="md-raised md-primary btn done">
      <i class="material-icons left"></i> Sign up
    </md-button>
  </div>

  </div>
  </form>

  <md-button class="md-primary md-fab md-fab-top-right md-hue-2" style='margin-top: 50px;'>
    <a href="#/homepage" style = style='font-size: 85%; color: white'>Home</a>
  </md-button>

  <md-button class="md-primary md-fab md-fab-top-right md-hue-1" style='margin-top: 50px; margin-right: 80px; float: left;'>
    <a href="#/signin" style='font-size: 85%; color: white'>Signin</a>
  </md-button>

</div>




