<!-- Sylvia -->

<div id = "homepage"> 
 <!-- the intent here is to trigger a search function on submit
 this will be the getAll function defined in the search library -->
 
  <!-- inputs are location, items, dates
    defined models for location, items, dates -->
  <div ng-controller='subController'>
    <div class="before" ng-hide='formRender()'>
      <nav class="navigation">
        <ul>
          <li>
            <a class="selected" href="#/signin">Signin</a>
          </li>
          <li>
            <a href="#/signup">Signup</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="after" ng-show='formRender()'>
      <nav class="navigation">
        <ul>
          <li>
            <!-- <a href="#/homepage/cart" > -->
              <span>
               <!-- {{itemCount}}  -->
                <a href="#/homepage/cart" >Cart | {{checkOutCounter}}</a>
              </span>
            <!-- </a> -->
          </li>
          <li>
            <a href="#/addItem">Add Item</a>
          </li>
           <li>
            <a href="#/profile">Profile</a>
          </li>


          <li>
            <a href="" ng-click="open()">Log Out</a>
          </li>


          <li>
            <a href="" ng-click="logout()">Log Out</a>
          </li>
        </ul>
      </nav>
    </div>
  
  </div>

  <!-- wrap this into another div so that we an toggle or hide -->
  <!-- Change this so that toggles show/hide  -->
  <div class="form" ng-show='formRender()'>
    <form name = "searchForm" ng-submit = 'getFormValue()'>
      <!-- Location: <input type = "text" ng-model = 'location'> -->
        <md-input-container flex>
          <label>Location</label>
          <input type="text" ng-model = 'location' required/>
        </md-input-container>
        <md-input-container flex>
          <label>Item name</label>
          <input type="text" ng-model = 'item' required/>
        </md-input-container>
      <button> Search </button>
    </form>
  </div>

  <!-- Image render -->

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat='item in randItemsData'>
    <div flex-xs flex-gt-xs="50" layout="column"  >
      <md-card md-theme="{{'dark-light-green'}}" md-theme-watch flex="30">
        <md-card-title>
          <md-card-title-text>
            <span class="md-display-1">{{item.name}}</span>
            <span class="md-title">description</span>
            <span class="md-subhead">{{item.description}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media" layout-align="end center">{{item.price | currency}}</div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click='addToCheckOut(item)' class="md-primary md-raised">Add card</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>

